@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 20vw;
}
h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
}
#name
{
    color: rgb(212, 63, 130);
    font-size: 50px;
}
#va{
    color: rgb(61, 194, 238);
    font-size: 50px;    
}
#voice{
    width: 150px;
    display: none;
}
#btn{
    width: 30%;
    background:linear-gradient(to right, rgb(29, 141, 175), rgb(212, 63, 130));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(29, 141, 175),2px 2px 10px rgb(212, 63, 130);
    border: none;
}
#btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 20px rgb(29, 141, 175),2px 2px 20px rgb(212, 63, 130);
}